<div class="row">
  <div style="width= 33%; margin-left: 33.5%; margin-top: 30px">
  <% @friend_requests.each do |fr| %>
  <div class="mb-6">
  <p class="is-size-5 ml-4">You have a friend request from <%= fr.name %></p>
  <div class="button is-info is-rounded p-2 widening ml-2 mt-4" style="text-align: center; border: 1px solid #51a7e0; border-radius: 20px">
  <%= link_to 'Accept Friend Request', accept_request_path(fr), :class => "is-family-code is-size-6", :style => "color: #ffffff" %>
  </div>
  <div class="button is-info is-rounded p-2 widening ml-2 mt-4" style="text-align: center; border: 1px solid #51a7e0; border-radius: 20px">
  <%= link_to 'Decline Friend Request', decline_request_path(fr), :class => "is-family-code is-size-6", :style => "color: #ffffff" %>
  </div>
  </div>
  <% end %>
  </div>
</div>
