<div class="columns text-weight-is mt-3 is-centered is-family-code">
<% if user_signed_in? %>
<h1 class="is-size-1">Welcome to SCLZ <%= current_user.name %></h1>
<% else %>
<h1 class="is-size-1">Welcome to SCLZ Stranger</h1>
<% end %>
</div>

<div class="columns">
  <div class="is-centered" style="margin-left: 20%; width: 60%">
  <%= image_tag asset_path('SCLZ.jpeg') %>
  </div>
</div>
